$background-color: #67a28f;
$background-dark-color: #5b5941;
$primary-color: #f79f79;
$secondary-color: #f7d08a;

.monitor {
  flex: 1;
  background-color: $background-color;

  .p-card {
    background-color: $secondary-color;
    width: 48%;
    position: relative;

    &.nb-players-1, &.nb-players-2, &.nb-players-3, &.nb-players-4 {
      width: 46%;
    }

    &.nb-players-5, &.nb-players-6 {
      width: 30%;
    }

    &.nb-players-7, &.nb-players-8 {
      width: 21%;
    }

    &.nb-players-9, &.nb-players-10 {
      width: 18%;
    }

    &.nb-players-11, &.nb-players-12 {
      width: 14%;
    }

    &.is-buzzed {
      box-shadow: 0px 0px 31px 12px $secondary-color;
    }

    &.is-right {
      .addPoint {
        opacity: 0.9;
      }
    }

    &.is-false {
      .false {
        opacity: 0.9;
      }
    }

    &.disabled {
      opacity: 0.5;
    }

    .addPoint, .false {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 6em;
      opacity: 0;
      transition: linear 500ms opacity;
    }

    .addPoint {
      background-color: var(--green-200);
      color: var(--green-700);
    }

    .false {
      background-color: var(--pink-200);
      color: var(--pink-700);
    }

    .p-card-body {
      padding: 0;

      .p-card-content {
        .score {
          font-size: 65px;
          font-weight: bold;
          text-align: center;
        }
      }

      .p-card-footer {
        padding: 1rem;
        background-color: $primary-color;
        border-top: 1px solid $background-dark-color;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        text-align: center;
      }
    }
  }
}