$background-color: #67a28f;
$background-dark-color: #5b5941;
$primary-color: #f79f79;
$secondary-color: #f7d08a;

.admin {
  flex: 1;

  .admin-content {
    flex: 1;
    overflow: hidden;

    .admin-body {
      flex: 1;

      .buzzer-container {
        position: absolute;
        top: 0;
        right: 0;
        left: 200px;
        bottom: 72px;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        .buzzer-body {
          background-color: white;
          width: 92%;
          height: 90%;
          display: flex;
          flex-direction: column;

          & > * {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: space-around;
          }

          .buzzer-add-point {
            & > * {
              height: 150px;
              width: 150px;
              border-radius: 50%;
              border: none;
            }

            & > *:nth-child(1) {
              background-color: var(--green-300);
            }

            & > *:nth-child(2) {
              background-color: var(--green-400);
            }

            & > *:nth-child(3) {
              background-color: var(--green-500);
            }
          }

          .buzzer-buttons-container {
            & > * {
              border: none;
              height: 50%;
              width: 25%;
            }

            & > *:first-child {
              background-color: var(--pink-500);
            }

            & > *:last-child {
              background-color: var(--bluegray-300);
            }
          }
        }
      }

      .players-grid {
        .p-card {
          background-color: $secondary-color;
          width: 49%;
          position: relative;
          box-shadow: none;
          border: 1px solid $background-dark-color;
          border-radius: 0;

          &.nb-players-1, &.nb-players-2, &.nb-players-3, &.nb-players-4 {
            width: 46%;
          }

          &.nb-players-5, &.nb-players-6 {
            width: 30%;
          }

          &.nb-players-7, &.nb-players-8 {
            width: 21%;
          }

          &.nb-players-9, &.nb-players-10 {
            width: 18%;
          }

          &.nb-players-11, &.nb-players-12 {
            width: 14%;
          }

          .p-card-footer {
            padding: 0;

            .player-card-footer {
              & > *:last-child {
                margin-top: 2px;
              }
            }
          }

          .button-option {
            position: absolute;
            top: 2px;
            cursor: pointer;
            padding: 4px;
            width: auto;
            right: 3px;

            &.button-option-delete {
              right: 32px;
            }
          }
        }
      }
    }
  }

  .p-menubar {
    width: 100%;
    padding: 0;
    border-radius: 0;
    border: none;

    .p-menubar-root-list {
      flex: 1;
      flex-direction: row;
      justify-content: space-around;

      .p-menuitem-link {
        padding: 1.75rem 2rem !important;
        border-radius: 0 !important;
      }
    }
  }
}