.admin {
  flex: 1;

  .admin-content {
    flex: 1;

    .admin-body {
      flex: 1;

      .buzzer-container {
        position: absolute;
        top: 0;
        right: 0;
        left: 200px;
        bottom: 72px;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        .buzzer-body {
          background-color: white;
          width: 92%;
          height: 90%;
          display: flex;
          flex-direction: column;

          & > * {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: space-around;
          }

          .buzzer-add-point {
            & > * {
              height: 150px;
              width: 150px;
              border-radius: 50%;
              border: none;
            }

            & > *:nth-child(1) {
              background-color: var(--green-300);
            }

            & > *:nth-child(2) {
              background-color: var(--green-400);
            }

            & > *:nth-child(3) {
              background-color: var(--green-500);
            }
          }

          .buzzer-buttons-container {
            & > * {
              border: none;
              height: 50%;
              width: 25%;
            }

            & > *:first-child {
              background-color: var(--pink-500);
            }

            & > *:last-child {
              background-color: var(--bluegray-300);
            }
          }
        }
      }

      .players-grid {
        .pi-ban {
          position: relative;
          top: -30px;
          right: -12px;
          cursor: pointer;
        }
      }
    }
  }

  .p-menubar {
    width: 100%;
    padding: 0;
    border-radius: 0;
    border: none;

    .p-menubar-root-list {
      flex: 1;
      flex-direction: row;
      justify-content: space-around;

      .p-menuitem-link {
        padding: 1.75rem 2rem !important;
        border-radius: 0 !important;
      }
    }
  }
}